{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% assign item_type = include.type | default: 'list' %}
{% assign title_only = false %}
{% if include.compact == true or include.compact == 'true' %}
  {% assign title_only = true %}
  {% assign item_type = 'compact' %}
{% endif %}

<div class="{{ item_type }}__item">
  <article class="archive__item{% if title_only %} archive__item--compact{% endif %}" itemscope itemtype="https://schema.org/CreativeWork">
    {% unless title_only %}
      {% if include.type == "grid" and teaser %}
        <div class="archive__item-teaser">
          <img src="{{ teaser | relative_url }}" alt="">
        </div>
      {% endif %}
    {% endunless %}
    {% if title_only %}
      <div class="archive__item-compact-row">
        <h2 class="archive__item-title no_toc" itemprop="headline">
          {% if post.link %}
            <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
          {% else %}
            <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
          {% endif %}
        </h2>
        {% if post.date %}
          <time class="archive__item-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
        {% endif %}
      </div>
    {% else %}
      <h2 class="archive__item-title no_toc" itemprop="headline">
        {% if post.link %}
          <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
        {% else %}
          <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
        {% endif %}
      </h2>
      {% include page__meta.html type=include.type %}
      {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
    {% endif %}
  </article>
</div>
