---
layout: archive
---

{{ content }}

<ul class="taxonomy__index posts-year-index">
  {% assign postsInYear = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y"' %}
  {% for year in postsInYear %}
    <li>
      <a href="#{{ year.name }}">
        <strong>{{ year.name }}</strong> <span class="taxonomy__count">{{ year.items | size }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

{% assign postsByYear = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y"' %}
{% for year in postsByYear %}
  <section id="{{ year.name }}" class="taxonomy__section posts-year-section">
    <h2 class="archive__subtitle posts-year-heading">{{ year.name }}</h2>
    <ul class="posts-title-list">
      {% for post in year.items %}
        <li class="posts-title-list__item">
          <a href="{{ post.url | relative_url }}">{{ post.title | markdownify | strip_html }}</a>
          <time class="posts-title-list__date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endfor %}
